<table class="table table-striped container">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Mô tả</th>
        <th>Giá</th>
        <th>Hình ảnh</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(p of list; track p.name) {
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.price }}</td>
            <td><img src="{{p.image}}" alt=""></td>
            <td>
                <!-- điều hướng sang trang chi tiết -->
                <a class="btn btn-info" [routerLink]="['/detail',p.id]">Detail</a>
                <a class="btn btn-warning mx-2" [routerLink]="['/edit',p.id]">Edit</a>
                <a class="btn btn-danger" (click)="onDelete(p.id)">Delete</a>
            </td>
        </tr>
      }
    </tbody>
</table>
